# runtime requirements
https://launchpad.net/ubuntu/+archive/primary/+files/python-apt_1.1.0~beta1build1.tar.xz
argcomplete
progressbar33
pyyaml
requests
pyxdg
python-gnupg

# test tools
nose
nose-cov
nose-json
pep8
pexpect>=4.0
