# runtime requirements
# python-apt @ https://launchpad.net/ubuntu/+archive/primary/+sourcefiles/python-apt/2.0.0ubuntu0.20.04.6/python-apt_2.0.0ubuntu0.20.04.6.tar.xz
argcomplete
progressbar33
# pycairo
# PyGObject
python-gnupg
pyxdg
PyYAML
requests

# test tools
pycodestyle
flake8
pytest
pexpect>=4.0
