# Setup an ubuntu-desktop install which can logout and login
Tests: setup-testbed
Depends: @builddeps@
Restrictions: rw-build-tree, isolation-machine, allow-stderr

Tests: pep8
Depends: @builddeps@
Restrictions: rw-build-tree, isolation-machine, allow-stderr

Tests: small
Depends: @builddeps@
Restrictions: rw-build-tree, isolation-machine, allow-stderr

Tests: medium
Depends: @builddeps@
Restrictions: rw-build-tree, isolation-machine, allow-stderr

Tests: large
Depends: @builddeps@
Restrictions: rw-build-tree, isolation-machine, allow-stderr

Tests: custom
Depends: @builddeps@
Restrictions: rw-build-tree, isolation-machine, allow-stderr

Tests: collect-coverage
Depends: @builddeps@
Restrictions: rw-build-tree, isolation-machine, allow-stderr
