# Setup an ubuntu-desktop install which can logout and login
Tests: setup-testbed,
       pep8,
       small,
       medium,
       large,
       custom,
       collect-coverage,
Depends: @builddeps@
Restrictions: rw-build-tree, isolation-machine, allow-stderr
